body {
    background-image: url(coffe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /*background-image: linear-gradient(45deg,rgba(207, 34, 223, 0.936), rgba(32, 176, 142, 0.936), rgba(235, 111, 39, 0.936));
*/
}

#title {
    text-align: center;
    color: rgba(3, 67, 56, 0.92);
    font-style: italic;
    font-size: xx-large;
}

#description {
    color: wheat;
    text-align: center;
    font-style: oblique;
    font-size: x-large;
}


/*---------- Form Style Area -------------*/
#survey-form {
    text-align: center;
    font-size: medium;
}

legend {
    text-align: justify;
    font-weight: bolder;
    color: rgb(42, 34, 20);
    margin-left: 120px;
    margin-top: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


fieldset {
    background-color: rgb(224, 157, 157);
    opacity: 90% ;
    text-align: center;
    margin-inline: 250px;
    margin-top: -15px;
    border-radius: 5px;
    margin-bottom: 0%;
    border: transparent;
    background-image: linear-gradient(45deg,rgba(163, 223, 34, 0.936), rgba(48, 194, 219, 0.936), rgba(235, 111, 39, 0.936));;
}



#male {
    width: 40px;
    height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

#female {
    width: 40px;
    height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#genderfield { 
    width: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: transparent;
    background-color: transparent;
}

textarea {
    width: 600px;
    height: 100px ;
    border-radius: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: medium;
    font-style: italic;
    text-align: left;
}

textarea:hover{
    background-color: black;
    color: aliceblue;
}


/*---------- Button Style -------------*/
button {
    background-color: rgba(135, 99, 6, 0.936);
    width: 610px;
    height: 50px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    color: azure;
    border: transparent;
}

button:hover{
    background-color: rgb(56, 217, 38);  
}

input {
    width: 600px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: start;
    border: transparent;
}

input:hover {
    background-color: black;
    color: aliceblue;
}

input:after{
    background-color: black;
    color: aliceblue;
}

/*---------- Select Style -------------*/
select {
    width: 610px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

select:hover{
    background-color: black;
    color: aliceblue;
}